/*=========================================================
GLOBAL CONFIGURATION
=========================================================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-weight: 400;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f3;
    line-height: 1.7;
}

.container{
    max-width: 90%;
    margin: auto;
}


/********* Icons ******/
.align{
    display: flex;
    align-items: center;
}

.align svg{
    margin-right: .3rem;
}

/* .dropdown{
    position: relative;
}

.dropdom-menu{
    position: absolute;
} */


/*=========================================================
HEADER CONFIGURATION
=========================================================*/

header {
   background: #157ed2;
}

/**** Header Top Nav ****/
.header #header_top .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid transparent;
}

.header #header_top ul{
    list-style: none;
}

.header #header_top ul li {
    margin-left: 1rem;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.header #header_top ul li:hover{
    color: #fff;
}

.header #header_top ul li a:link,
.header #header_top ul li a:visited{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    position: relative;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    cursor: pointer;
}

.header #header_top ul li .nav-divider {
    color: rgba(170, 170, 170, 0.8);
    font-size: 1.5rem;
}

.header #header_top ul li a:hover,
.header #header_top ul li a:active{
    color: #fff;
}

.header #header_top ul .dropdown-menu {
    position: absolute;
    background-color: #fff;
    z-index: 99;
    width: 120px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-.8rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    transition: transform .3s linear 0s,
                opacity .2s ease-in-out,
                visibility .3s linear 0s;
}

.header #header_top ul .dropdown-menu.dropdown-menu--active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header #header_top ul .dropdown-menu li a:link,
.header #header_top ul .dropdown-menu li a:visited{
    display: block;
    color: #666;
    padding: .5rem 0;
    font-weight: inherit;
    text-transform: capitalize;
    transition: color .2s ease;
    cursor: pointer;
}

.header #header_top ul .dropdown-menu li a:hover,
.header #header_top ul .dropdown-menu li a:active{
    color: #157ed2;
}


/**** Header Main ****/
.header #header_main {
    padding: 1.5rem 0;
    border-bottom: 1px solid #157ed2;
}

.header #header_main .brand-wrap{
    width: 18%;
}

.header #header_main .brand-wrap a:link,
.header #header_main .brand-wrap a:visited{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    text-transform: capitalize;
    font-style: italic;
}

/* .header #header_main .brand-wrap a{
    color: #fdd922;
    box-shadow: 0 1 1rem rgba(0,0,0,3);
} */

.header #header_main .row{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header #header_main .header_main-group{
    width: 62%;
}

.header #header_main .header_main-group .input-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header #header_main .header_main-group .header_category{
    width: 15%;
    height: 4rem;
    color: #666;
    font-size: 1.3rem;
    background-color: #f3f3f3;
    line-height: 4rem;
    padding: 0 1rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*** Header Main dropdown ***/

.header #header_main .header_main-group .dropdown-menu{
    position: absolute;
    list-style: none;
    width: 19rem;
    top: 13rem;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    background-color: #fff;
    transition: top .3s linear 0s,
                opacity .2s ease-in-out,
                visibility .3s linear 0s; 
}

.header #header_main .header_main-group .dropdown-menu .dropdown-menu--title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #666;
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.header #header_main .header_main-group  .dropdown-menu.dropdown-category--active{    
    top: 8.2rem;
    opacity: 1;
    visibility: visible;
}

.header #header_main .header_main-group .dropdown-item{
    padding: .5rem 1rem;

}

.header #header_main .header_main-group .dropdown-item a:link,
.header #header_main .header_main-group .dropdown-item a:visited{
    color: #666;
    display: block;
    font-size: 1.3rem;
    font-weight: inherit;
    padding-left: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s;
}

.header #header_main .header_main-group .dropdown-item a:hover,
.header #header_main .header_main-group .dropdown-item a:active{
    color: #157ed2;
}

/*** Header Main dropdown end ***/

.header #header_main .header_main-group form{
    width: 85%;
    background-color: #fff;
}

.header #header_main .header_main-group .header_search{
    width: 87%;
    height: 4rem;
    font-weight: inherit;
    font-size: 1.3rem;
    padding-left: 2rem;
    background-color: #fff;
    padding-left: 1rem;
    border: 1px solid rgba(255,255,255,0.8);
    border-style: inset;
}

.header #header_main .header_main-group .header_search:focus{
    outline: none;
}


/***************************************** Header Widgets *******************************/
.header #header_main .header_main-widgets{
    width: 18%;
    margin-left: 1rem;
}

.header #header_main .header_main-widgets .input-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.header #header_main .header_main-widgets .input-group-addon{
    width: 23%;
    height: 4rem;
    text-align: center;
    line-height: 5rem;
    background: #006cb4;
    border-right: 1px solid rgba(170, 170, 170, 0.8);
}

.header #header_main .header_main-widgets .widget-counter{
    position: absolute;
    left: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    font-size: 1.3rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: #0f6cb2;
    background: #fdd922;
}

.header .header_main-widgets .widget-search{
    width: 75%;
    height: 4rem;
    background: #006cb4;
    border: 1px solid #24609c;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    padding-left: 1.5rem;
}

.header .header_main-widgets .widget-search::-webkit-input-placeholder{
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
}

/********************** Header Mega Menu ********************/
.header #header_menu {
    background: #0f6cb2;
}

.header #header_menu .header_menu-nav{
    display: flex;
    align-items: center;
    list-style: none;
}

.header #header_menu .header_menu-link:link,
.header #header_menu .header_menu-link:visited{
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    padding: 1.1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-right: 1px solid rgba(255,255,255,0.1);
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

.header #header_menu .header_menu-link.active{
    background: #1c6399;
}

.header #header_menu .header_menu-link:hover,
.header #header_menu .header_menu-link:active {
    background: #fff;
    color: #666;
}

.header #header_menu .mega-menu{
    position: relative;
}

.header #header_menu .submenu{
    position: absolute;
    left: 5%;
    width: 90%;
    border: none;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 1rem 4rem 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .4);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.5rem);
    transition: all .2s linear .2s;
}

.header #header_menu .submenu .submenu-item--list{
    list-style: none;
}

.header #header_menu .submenu .submenu-link:link,
.header #header_menu .submenu .submenu-link:visited{
    color: #555;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: inherit;
    text-transform: capitalize;
    transition: all .2s linear 0s;
    cursor: pointer;
}

.header #header_menu .submenu .submenu-link:hover,
.header #header_menu .submenu .submenu-link:active{
    color: #0f6cb2;
}

.header #header_menu .submenu .submenu-item{
    width: 23%;
}

.header #header_menu .header_menu-item:hover .submenu{
    /* display: flex; */
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header #header_menu .submenu .submenu-item .submenu-item--list > li > a:link,
.header #header_menu .submenu .submenu-item .submenu-item--list > li > a:visited{
    color: #888484;
    font-size: 1.3rem;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    cursor: pointer;
}

.header #header_menu .row{
    display: flex;
    align-items: center;
}

.header #header_menu .header_nav-open{
   display: none;
}


/*=======================================================
HERO SECTION
=======================================================*/
.hero {
    padding-top: 1.5rem;
    height: auto;
    margin-bottom: 3rem;
    position: relative;
}

.hero_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: relative; */
}

.hero_text{
    width: 48%;
}

.hero_text-overlay{
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.13);
    background-color: #fff;
    width: 95%;
    padding: 2.5rem 1.5rem;
}

.hero_text .heading-primary{
    color: #666;
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.hero_nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero_nav .hero_nav-item{
    color: #666;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: .5rem;
    padding: .5rem;
}

.hero_nav-divider{
    color: rgb(192, 188, 188);
}

.hero_illustration{
    width: 48%;
    display: flex;
    justify-content: center;
}

.hero_illustration img{
    width: 65% !important;
}

/*=========================================================
CAROUSEL SLIDER
==========================================================*/
.hero .owl-nav{
    position: absolute;
    top: 45%;
    width: 100%;
}

.hero .owl-next,
.hero .owl-prev
{
    position: absolute !important;
    /* font-size: 4rem !important; */
}

.hero .owl-prev{
    left: -2% !important;
}

.hero .owl-next{
    right: -2% !important;
}




/*=======================================================
LOGIN PAGE
========================================================*/
#account .row{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}
#account .card__header{
    margin-bottom: 1rem;
}
#account .login__title{
    font-size: 1.8rem;
    font-weight: 400;
}
#account .card__boby p{
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 1.5rem;
}

#account .card__boby .login__social div a:link,
#account .card__boby .login__social div a:visited{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    padding: 1rem 2rem;
    width: 50%;
}

#account .card__boby .login__social .login__social-google{
    background-color: #FF5533;
}
#account .card__boby .login__social .login__social-facebook{
    background-color: #153470;
}
#account .card__boby .login__social .login__social-github{
    background-color: #191716;
}
#account .card__boby .login__social .login__social-twitter{
   background-color: #22aadf;
}

#account form .form-group{
    margin-bottom: 2rem;
}

#account form .form-group:nth-child(3){
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 0;
}

#account form .form-group label{
    display: block;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #333
}

#account form .form-group .form-control{
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #ccc;
    height: auto;
    padding: 10px 12px;
}

#account form .form-group input:focus{
    outline: none;
}

.ckeck-page{
    display: inline-block;
    font-weight: 500;
    border: none;
    border-radius: .3rem;
    padding: .8rem 1.6rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #22aadf;
    text-transform: uppercase;
    transition: backgroun-color .3s ease;
    cursor: pointer;
}

.ckeck-page:hover{
    background-color: #0c7199;
}




/*=======================================================
PAGINATION
========================================================*/
.pagination{
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 80%;
}

.pagination ul{
    display: flex;
    /* justify-content: flex-end; */
    margin-left: auto;
    list-style: none;
}

.pagination ul li.prev a,
.pagination ul li.next a{
    background-color: rgb(211, 207, 207);
    transition: background-color .2s linear 0s;
}

.pagination ul li.prev a:hover,
.pagination ul li.next a:hover{
    background-color: #108bea;
}

.pagination ul li  a:link,
.pagination ul li  a:visited,
.pagination .active
{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 20px;
    border: none;
    border-radius: .3rem;
    color: #555;
    margin: 0 .5rem;
    transition: color .2s linear 0s;
    cursor: pointer;
}

.pagination .active{
    color: #108bea;
}

.pagination ul li  a:hover,
.pagination ul li  a:active{
    color: #108bea;
}


/*=======================================================
FOOTER
========================================================*/
footer{
    background: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
}


.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__box{
    width: 23%;
}

.footer__box .heading-secondary{
    color: #898989;
    font-size: 1.4rem;
}



/*=========================================================
MAIN 
=========================================================*/
#new__courses,#popular_course,
#top_category,#featureds,
#brands,#blog__comment, #account, #post{
    margin-bottom: 3rem;
}

.course{
    /* border: 1px solid #e3e3e3; */
    box-shadow: 0 0 5px -1px rgba(0,0,0,.08);
    border: solid 1px #eaeaea;
    background-color: #fff;
}

.course__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-bottom: 1px solid #e3e3e3;
}

.heading-secondary{
    color: inherit;
    font-size: 1.45rem;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
}

/************  Course Tabs  *************/

.new__course-tab{
    display: inline-block;
    color: #666666;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 1rem !important;
    box-shadow: none;
    background-color: transparent;
    border: none;
    transition: all .2s linear 0s;
}

/* .new__course-tab:hover{
    color: #157ed2;   
} */

.new__course-tab--active{
    color: #157ed2;
}

.course__content-style{
    padding: 1.5rem;
}

/* .course__content--active{
    display: block;
} */

/************  Course Info  *************/

.course__info{
    padding: 1rem 0;
}

.course__info-header{
    padding-bottom: .5rem;
}

.course__info-header .heading-tertiary{
    margin: .5rem 0;
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.course__info-header .heading-color{
    color: #555;
}

.course__info-header .btn-primary{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    background-color: #fdd922;
    padding: .3rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease;
}

.course__info-header .btn-primary:hover{
    color: #fff;
    background-color: #108bea;
}

.course__info-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course__info-footer--box{
    display: flex;
}

.course__info-footer--box .course__info-icon{
    display: flex;
    align-items: center;
    margin-right: 1rem;
} 

.course__info-footer--box .course__info-icon svg{
    margin-right: .5rem;
}

.course__star-rating,.course__info-counter{
    color: #95a5a6;
    font-size: 1rem;
    text-transform: capitalize;
}

.course__info-footer .course__info-footer--save button{
    color: #fff;
    background-color: #108bea;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    margin-right: .3rem;
    transition:   background-color .2s;
}

.course__info-footer .course__info-footer--save button:hover,
.course__info-footer .course__info-footer--save button:active{
    background: #1c6399;
}

/********** Buttons **********/


/*=========================================================
CAROUSEL SLIDER
==========================================================*/

.course__content-style .owl-nav{
    position: absolute;
    top: 45%;
    width: 100%;
}

.course__content-style .owl-next,
.course__content-style .owl-prev
{
    position: absolute !important;
    /* font-size: 4rem !important; */
}

.course__content-style .owl-prev{
    left: -3.3% !important;
}

.course__content-style .owl-next{
    right: -1% !important;
}

.checked {
    color: orange;
}


/*=========================================================
TOP CATEGORY
==========================================================*/
.category__title{
    justify-content: center;
}

.category__content{
    display: flex;
    flex-wrap: wrap;
}

.category__content-item{
    width: 23%;
    text-align: center;
}

.category__content-item img{ 
    width: 80%;
    object-fit: contain;
}

.category__content-item p{
    font-size: 1.5rem;
    color: #555;
    text-transform: capitalize;
}

/*=========================================================
BRANDS
==========================================================*/
.brand__title{
    justify-content: center;
    align-items: center;
}


.brand__content-item{
    margin-right: 1rem;
    text-align: center;
}

.brand__content-item svg{
    width: 8rem;
    height: 8rem;
    
}



/*=========================================================
MAIN DETAIL
=========================================================*/
#detail, #post{
    padding: 1.5rem 0;
}

#detail,#similar__course{
    margin-bottom: 1.5rem;
}

.detail__breadcrumb{
    padding: 1.5rem 0;
}


/*===============================================
DETAIL LEFT SIDEBAR
===============================================*/
.detail__nav,
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.detail__nav-link:link,
.detail__nav-link:visited{
    font-size: 1.2rem;
    color: #666666;
    font-family: inherit;
    line-height: 24px;
    font-weight: 500;
    margin-right: 1rem;
    transition: color .2s ease;
}

.detail__nav-link:hover,
.detail__nav-link:active{
    color: #157ed2;
}

.detail__nav-link--active:link,
.detail__nav-link--active:visited{
    color: #157ed2;
}

.detail__left,
.detail__right{
    padding: 1.5rem;
}

.detail__left{
    width: 73%;
    margin-right: 2rem;
}

.detail__right{
    width: 23%;
}

.detail__left .detail__name,
.detail__name-2{
    font-weight: bold;
    letter-spacing: -1px;
}

.detail__left .detail__name{
    font-size: 2.3rem;
}


.detail__row .row span{
    font-size: 1.2rem;
}   

.detail__row .detail__short-desc p,
.detail__left-picture figcaption,
.detail__long-desc{
    color: #666666;
}

.detail_style{
   color: #95a5a6
}

.detail__short-desc p,
.detail__long-desc,
.detail__name-2{
    font-size: 1.5rem;
}

.details__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details__info .course__info-icon{
    border: solid 1px #eaeaea;
    padding: .1rem .2rem;
}

.detail__long-desc p{
    margin-bottom: 1rem;
}

.detail__left-picture{
    padding: 1.5rem;
}

.detail__left-picture figure{
    width: 100%;
}

.detail__left-picture figure img{
    width: 100%;
}

.detail__left-picture figcaption{
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
}

.detail__link{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.addToBookmarks{
    color: #fff;
    background-color: #108bea;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: .3rem;
    border: none;
    text-transform: capitalize;
    margin-right: 1rem;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,.15);
    transition: all .2s ease;
}

.detail__link a:link,
.detail__link a:visited,
.comment__reply button{
    color: #fff;
    background-color: #108bea;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: .3rem;
    border: none;
    text-transform: capitalize;
    margin-right: 1rem;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,.15);
    transition: all .2s ease;
}

.addToBookmarks:hover{
    color: #0f6cb2;
    background-color: #fdd922;
    transform: translateY(-.2rem);
}

.addToBookmarks:active{
    transform: translateY(0);
}

.detail__link a:hover,
.comment__reply button:hover{
    color: #0f6cb2;
    background-color: #fdd922;
    transform: translateY(-.2rem);
}

.detail__link a:active,
.comment__reply button:active{
    transform: translateY(0);
}

/*===============================================
DETAIL RIGHT SIDEBAR
===============================================*/
.card{
    margin-bottom: 1.5rem;
}

.card__color{
    box-shadow: 0 0 5px -1px rgba(0,0,0,.08);
    border: solid 1px #eaeaea;
    background-color: #fff;
}

.card,.card__header{
    padding-bottom: .5rem;  
}

.card__divider{
    border-bottom: 1px solid #e3e3e3;
}

.card__body{
  padding: 1rem 0;
}

.card__body .card__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__body .card__link:link,
.card__body .card__link:visited{
    display: block;
    color: #555;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    transition: color .2s ease;
    margin-bottom: 1rem;
}

.card__body .card__link:hover,
.card__body .card__link:active{
    color: #108bea;
}

.card__body .card__item .card__counter{
    color: #0f6cb2;
    background: #fdd922;
    font-size: 1.1rem;
    padding: .3rem .5rem;
    border-radius: 50%;
}

.card__body .card__btn{
    display: inline-block;
    color: #fff;
    font-size: 1.3rem;
    background: #108bea;
    border: none;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,.15);
    transition: all .2s ease;
    cursor: pointer;
}

.card__body .card__btn:hover{
    color: #0f6cb2;
    background-color: #fdd922;
    transform: translateY(-.2rem);
}

.card__body .card__btn:active{
    transform: translateY(0);
    box-shadow: .25rem .25rem .25rem rgba(0,0,0,.15);
}

/************** Similar Course **************/
.similar,.comment{
    max-width: 73%;
}

.comment__item{
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem 2rem;
}

.comment__item .comment__item-number{
    font-size: 1.3rem;
    color: #666666;
}

.comment__item .comment__star input{
    margin-right: 1rem;
    height: 1.4rem;
    width: 1.4rem;
}

.comment__item .comment__star{
    display: flex;
    align-items: center;
}

.comment__item .comment__star span{
    font-size: 1.4rem;
}

.comment__reply{
    margin-right: 1rem;
}

.comment__reply form{
    width: 100%;
}

.comment__reply form input,
.comment__reply form textarea{
    width: 100%;
    font-size: 1.3rem;
    font-weight: inherit;
    padding: .8rem 1.6rem;
    margin-top: 1rem;
    /* text-transform: capitalize; */
    border: none;
    border-bottom: solid 1px #eaeaea;
    transition: all .2s ease;
}

.comment__reply form input::-webkit-input-placeholder,
.comment__reply form textarea::-webkit-input-placeholder{
    color: #95a5a6;
}

.comment__reply form input:focus,
.comment__reply form textarea:focus{
    outline: none;
    border-top: 1px solid #0f6cb2;
    border-bottom: solid 1px #eaeaea;
    border-left: solid 1px #eaeaea;
    border-right: solid 1px #eaeaea;
}


/*========================================================================
Post Catogory
========================================================================*/
.post__flex .row{
    display: flex;
    justify-content: space-evenly;
}

.col-lg-3{
    width: 31%;
    overflow: hidden;
    /* margin-right: 1.5rem;
    margin-bottom: 1.5rem; */
}

.col-lg-3 img{
    width: 100%;
}


/*========================================================================
ERROR 404
========================================================================*/
#error .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
 }

 
 #error .container svg{
    width: 500px; 
    height: 500px;
}

/*========================================================================
BOOKMARK
========================================================================*/
#bookmark .card__header,
.card__body{
    padding: 1.5rem;
}

#bookmark .card__divider{
    padding-bottom: 1.5em;
}

.card__body .row div:not(:last-child){
    margin-right: 1.5rem;
}







/*========================================================================
MEDIA QUERIES
========================================================================*/

@media(max-width: 1200px){

    html {
        font-size: 56.25%;
    }

    .header #header_top ul li .nav-divider {
        font-size: 1.7rem;
    }

    /*** Header Main Brand ***/
    .header #header_main .brand-wrap{
        width: 15%;
    }

    .header #header_main .brand-wrap a:link,
    .header #header_main .brand-wrap a:visited{
        font-size: 2.4rem;
    }

    /*** Header Search Group Brand ***/
    .header #header_main .header_main-group{
        width: 65%;
    }

    .header #header_main .header_main-group .header_category{
        width: 18%;
    }

    .header #header_main .header_main-group form{
        width: 82%;
    }

    .header #header_main .header_main-group .dropdown-menu .dropdown-menu--title{
        font-size: 1.8rem;
    }

      /*** Header Widgets ***/
      .header #header_main .header_main-widgets{
        /* display: block; */
        width: 17%;
    }  

    .header .header_main-widgets .widget-search{
        width: 77%;
    }   

    .header #header_main .header_main-widgets .input-group-addon{
        width: 23%;
    }

    /*=======================================================
    HERO MEDIA
    =======================================================*/
    .hero_text .heading-primary{
        font-size: 1.7rem;
    }

    .hero_nav .hero_nav-item{
        font-size: 1.5rem;
    }
    
}

@media(max-width: 998px){

    html {
        font-size: 43.75%;
    }

    /*=======================================================
    HEADER MEDIA
    ========================================================*/

    .header #header_top ul li a:link,
    .header #header_top ul li a:visited,
    .header #header_top ul .dropdown-menu li a:link,
    .header #header_top ul .dropdown-menu li a:visited{
        font-size: 1.5rem;
    }

    .header #header_main .brand-wrap a:link,
    .header #header_main .brand-wrap a:visited{
        font-size: 3rem;
    }

    /*** Header Main ***/
    .header #header_main .brand-wrap{
        width: 98%;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .header #header_main .header_main-group  .dropdown-menu.dropdown-category--active{    
        top: 15rem;
    }

    .header #header_main .header_main-group .header_category,
    .header #header_main .header_main-group .header_search,
    .header #header_menu .header_menu-link:link,
    .header #header_menu .header_menu-link:visited,
    .header #header_menu .submenu .submenu-link:link,
    .header #header_menu .submenu .submenu-link:visited{
        font-size: 1.8rem;
    }

    .header #header_menu .submenu .submenu-item .submenu-item--list > li > a:link,
    .header #header_menu .submenu .submenu-item .submenu-item--list > li > a:visited{
        font-size: 1.9rem;
    }

    .header #header_main .header_main-group .dropdown-menu .dropdown-menu--title{
        font-size: 2rem;
    }

    .header #header_main .header_main-group .dropdown-item a:link,
    .header #header_main .header_main-group .dropdown-item a:visited{
        font-size: 1.8rem;
    }

    .header .header_main-widgets .widget-search::-webkit-input-placeholder{
        font-size: 1.8rem;
    }

    /*** Header Search Group Categories ***/
    .header #header_main .header_main-group{
        width: 100%;
        margin-bottom: 1rem;
    }

    /*** Header Widgets ***/
    .header #header_main .header_main-widgets{
        /* display: block; */
        width: 21%;
        margin-left: auto;
    }   

    /********* Header Mega Menu ******/
    .header #header_menu .submenu .submenu-item{
        width: 31%;
    }

    
    .bookmarks_svg{
        height: 2rem;
        width: 2rem;
        margin-top: 1rem;
    }


    /*=======================================================
    HERO MEDIA
    =======================================================*/
    .hero_text .heading-primary{
        font-size: 1.7rem;
    }

    .hero_nav .hero_nav-item{
        font-size: 1.47rem;
    }



    /*=========================================================
    MAIN MEDIA
    =========================================================*/
    .category__content-item{
        width: 33%;
    }

    .new__course-tab,
    .course__star-rating,.course__info-counter,
    .course__info-header .btn-primary,
    .course__info-footer .course__info-footer--save button,
    .card__body .card__link:link,
    .card__body .card__link:visited,
    .card__body .card__btn,
    .comment__item .comment__item-number,
    .comment__reply form input,
    .comment__reply form textarea,
    .comment__item .comment__star span{
        font-size: 1.6rem;
    }

    .heading-secondary{
        font-size: 1.9rem;
    }

    .detail__left .detail__name{
        font-size: 2.5rem;
    }

    .detail__row .detail__short-desc p,
    .detail__long-desc,
    .detail__name-2,
    .detail__link a:visited,
    .detail__link a:link,
    .comment__reply button{
        font-size: 1.8rem;
    }

    .card__body .card__item .card__counter,
    .detail__nav-link:link,
    .detail__nav-link:visited,
    .detail__left-picture figcaption,
    .detail__row .row span{
        font-size: 1.4rem;
    }

    .course__info-header .btn-primary,
    .course__info-footer .course__info-footer--save button:link,
    .course__info-footer .course__info-footer--save button:visited{
        font-size: 1.4rem;
        padding: .7rem 1.4rem;
    }

    .course__info-header .heading-tertiary{
        font-size: 1.6rem;
        margin: 1.5rem 0rem;
    }

    .course__star-rating,.course__info-counter,
    .card__body .card__link:link,
    .card__body .card__link:visited{
        font-size: 1.4rem;
    }

    .category__content-item p{
        font-size: 1.6rem;
    }

    .category__content-item img{ 
        width: 70%;
    }

    .course__info-icon--eye svg{
        height: 5rem;
        width: 3rem;
    }

    .course__info-icon--review svg{
        height: 2.1rem;
        width: 2.1rem;
    }

    #error .container svg{
        width: 250px; 
        height: 250px;
    }

    /*=======================================================
    FOOTER MEDIA
    ========================================================*/
    .footer__box{
        width: 33%;
    }
}

@media(max-width: 768px){

    html {
        font-size: 30%;
    }

    
    /*=======================================================
    HEADER MEDIA
    ========================================================*/

    /* Header Top  */
    .header #header_top ul {
        justify-content: center;
    }

    .header #header_top ul li a:link,
    .header #header_top ul li a:visited,
    .header #header_top ul .dropdown-menu li a:link,
    .header #header_top ul .dropdown-menu li a:visited{
        font-size: 1.8rem;
    }

    .header #header_menu .submenu .submenu-link:link,
    .header #header_menu .submenu .submenu-link:visited{
        font-size: 1.9rem;
    }
    .header #header_main .brand-wrap a:link,
    .header #header_main .brand-wrap a:visited{
        font-size: 3.2rem;
    }

    /*** Header Search Group Brand ***/
    .header #header_main .header_main-group{
        width: 100%;
        /* margin-bottom: 1rem; */
    }

    .header #header_main .header_main-group .header_category,
    .header #header_menu .header_menu-link:link,
    .header #header_menu .header_menu-link:visited,
    .header #header_menu .submenu .submenu-link:link,
    .header #header_menu .submenu .submenu-link:visited{
        width: 100%;
        font-size: 2rem;
    }

    .header #header_menu .submenu .submenu-item .submenu-item--list > li > a:link,
    .header #header_menu .submenu .submenu-item .submenu-item--list > li > a:visited{
        font-size: 1.9rem;
    }

    .header #header_main .header_main-group .header_search{
        width: 122%;
    }

     .header #header_main .header_main-group  .dropdown-menu.dropdown-category--active{    
        top: 15.5rem;
    }

    /*** Header Widgets ***/
    .header #header_main .header_main-widgets{
        width: 27%;
    }   

    /********* Header Mega Menu ******/
    .header #header_menu .submenu .submenu-item{
        width: 44%;
    }

    .header #header_menu .header_nav-open{
        padding-top: .5rem;
        display: block;
    }

    /* Svg Icon  */
    .header #header_menu .header_nav-open svg{
        width: 2.2rem;
    }

    .header #header_main .header_main-group .header_category svg{
        width: 2.2rem;
    }

    .header #header_menu .header_overlay{
        position: absolute;
        top: 33rem;
        left: 0%;
        background-color: #0f6cb2;
        width: 100%;
        display: none;
        z-index: 999;
    }

    .header #header_menu .header_menu-nav{
        flex-direction: column;
        max-width: 90%;
        margin: auto; 
        /* margin-left: 1rem; */
    }

    .header #header_menu .header_menu-item{
        width: 100%;
    }

    .header #header_menu .header_menu-link:link,    
    .header #header_menu .header_menu-link:visited{
        border-right: none;
        width: 100%;
    }

    .header #header_menu .header_menu-link:hover,
    .header #header_menu .header_menu-link:active {
        background: #fff;
        color: #666;
    }

    .header #header_menu .submenu{
       box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    }

    .bookmarks_svg{
        height: 2rem;
        width: 2rem;
    }

    /*=======================================================
    HERO MEDIA
    =======================================================*/
    .hero_content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero_text{
        width: 100%;
    }

    .hero_illustration{
        width: 100%;
    }

    .hero_text-overlay{
        width: 100%;
    }

    .hero_text .heading-primary{
        font-size: 2.5rem;
    }

    .hero_nav .hero_nav-item{
        font-size: 2rem;
    }

    .hero_nav{
        justify-content: center;
    }



    /*=======================================================
    LOGIN MEDIA
    ========================================================*/

    #account .row{
        justify-content: center;
    }

    .login{
        width: 100%;
        margin-right: 0;
    }
    .register{
        width: 100%;
    }

    #account .login__title{
        font-size: 1.9rem;
        text-align: center;
    }

    #account .card__boby p{
        font-size: 1.7rem;
    }

    #account .card__boby .login__social div a:link,
    #account .card__boby .login__social div a:visited{
        width: 100%;
    }


    /*=========================================================
    MAIN MEDIA
    =========================================================*/
    .category__content-item,
    .col-lg-3{
        width: 48%;
    }

    .new__course-tab,
    .course__star-rating,.course__info-counter,
    .course__info-header .btn-primary,
    .course__info-footer .course__info-footer--save button,
    .card__body .card__link:link,
    .card__body .card__link:visited,
    .card__body .card__btn,
    .comment__item .comment__item-number,
    .comment__reply form input,
    .comment__reply form textarea,
    .comment__item .comment__star span{
        font-size: 2rem;
    }

    .heading-secondary{
        font-size: 2.5rem;
    }

    .card__body .card__item .card__counter,
    .detail__nav-link:link,
    .detail__nav-link:visited,
    .detail__left-picture figcaption,
    .detail__row .row span{
        font-size: 1.8rem;
    }

    .detail__row .detail__short-desc p,
    .detail__long-desc,
    .detail__name-2,
    .detail__link a:visited,
    .detail__link a:link,
    .comment__reply button{
        font-size: 2.1rem;
    }

    .detail__left .detail__name{
        font-size: 3rem;
    }

    .course__info-header .heading-tertiary{
        font-size: 2.3rem;
        margin: 1.5rem 0;
    }

    .course__info-icon--eye svg{
        height: 5rem;
        width: 4rem;
    }

    .course__info-icon--review svg{
        height: 3.1rem;
        width: 3.1rem;
    }

    .comment__item .comment__star input{
        height: 1.8rem;
        width: 1.8rem;
    }

    .category__content{
        justify-content: center;
    }

    .category__content-item p{
        font-size: 3rem;
    }

    .category__content-item img{ 
        width: 60%;
    }

    /******************* DETAIL **********************/

    .detail__left{
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    
    .detail__right{
        width: 100%;
    }

     /******************* SIMILAR **********************/

    .similar,.comment{
        max-width: 100%;
    }

    #error .container svg{
        width: 150px; 
        height: 150px;
    }

    /*=========================================================
    FOOTER MEDIA 
    =========================================================*/
    .footer__box{
        width: 48%;
    }
}


@media(max-width: 576px){

    html {
        font-size: 25%;
    }

    /*** Header Widgets ***/
    .header #header_main .header_main-widgets{
        /* display: block; */
        width: 100%;
    }   

    .header .header_main-widgets .widget-search{
        width: 87%;
    }   

    .header #header_main .header_main-widgets .widget-counter{
        left: 9%;
    }

    .header #header_main .header_main-widgets .input-group-addon{
        width: 10%;
    }

    /********* Header Mega Menu ******/
    .header #header_menu .submenu .submenu-item{
        width: 100%;
        
    }

    .bookmarks_svg{
        height: 1.8rem;
        width: 1.8rem;
    }

    /*=======================================================
    HERO MEDIA
    =======================================================*/
    .hero_text .heading-primary{
        font-size: 2rem;
    }

    .hero_nav .hero_nav-item{
        font-size: 1.8rem;
    }


    /*=========================================================
    MAIN MEDIA 
    =========================================================*/
    .category__content-item{
        width: 45%;
    }
    .category__content-item img{ 
        width: 50%;
    }

    .col-lg-3{
        width: 100%;
    }

    /*=========================================================
    FOOTER MEDIA 
    =========================================================*/

    .footer__box{
        width: 100%;
    }

}



